<table *ngIf="employee">
    <thead>
        <tr>
            <th colspan="2">
                Employee Details
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> Employee Code</td>
            <td>{{employee.code}}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{employee.name}}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{employee.gender}}</td>
        </tr>
        <tr>
            <td>Date Of Birth</td>
            <td>{{employee.dateOfBirth}}</td>
        </tr>
        <tr>
            <td>Annual Salary</td>
            <td>{{employee.annualSalary}}</td>
        </tr>
        </tbody>
    </table>
<div *ngIf="!employee">
    {{statusMessage}}
</div>
<div style="margin-top:5px"></div>
<input type="button" class="btn btn-primary" value="Back to Employees" (click)="onBackButtonClick()"/>

        <!--<tr *ngIf="showDetails">
                <td>Gender</td>
                <td>{{gender}}</td>
            </tr>
            <tr *ngIf="showDetails">
                <td> Age</td>
                <td>{{age}}</td>
            </tr>
       </tbody>
    </table>

    <button (click)=toggleClass()>
        {{showDetails?'Show':'Hide'}} Details</button>-->
